{% extends "base.html.twig" %}

{% block title %}Deportes - Tigerbet{% endblock %}

{% block body %}

    <section class="imagen-cabecera">
        <figure>
            <img src="{{ asset('img/deportes.png') }}" alt="casino2.png">
        </figure>
        <h1 class="blanco sombra">DEPORTES</h1>
    </section>

    <div class="blog">

        <!-- CONTENIDO PRINCIPAL -->

        <div class="col3-4">
            <div class="wrapper">
                <div class="breadcrumbs">
                    <a href="" class="azul">INICIO</a> > <a href="" class="azul">Casino</a>
                </div>

                <section id="grid-casino" class="grid-casino">
                    <div class="wrapper">
                        {% for deporte in deportes %}
                            <div class="col-blog col-flex">
                                <figure>
                                    <img src="{{ deporte.getImagen() }}" alt="{{ deporte.getImagen() }}">
                                </figure>
                                <h3 class="azul">{{  deporte.getNombre() | upper }}</h3>
                                <br>
                                <a href="">ENTRAR AL JUEGO</a>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
        <!-- fin CONTENIDO PRINCIPAL -->

        {% embed "sidebar.html.twig" %}
        {% endembed %}


    </div>
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/custom-blog.style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/casino.style.css') }}">
{% endblock %}