<!DOCTYPE html>
<html lang="es">
<head>
    <!-- METAS -->
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="theme-color" content="#ff9500">
    <meta name="description" content="TigerBet, casa de apuestas">
    <meta name="keywords" content="apuestas deportivas,casino, blog deportes, proyectodaw">
    <meta name="author" content="Roberto Gómez Domínguez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logo.png') }}"/>
    <!-- TIPOGRAFÍA -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- BOOTSTRAP
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <!-- CSS GENERAL DE LA WEB -->
    <link rel="stylesheet" href="{{ asset('css/general.style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.style.css') }}">
    <!-- POPUP -->
    <link rel="stylesheet" href="{{ asset('css/popup.style.css') }}">
    <!-- MEDIA QUERYS -->
    <link rel="stylesheet" href="{{ asset('css/responsive.style.css') }}">
    <script src="{{ asset('js/jquery.min.js') }}" type="application/javascript"></script>

    <!-- ESTILOS PARA CADA PÁGINA -->
    {% block stylesheets %}{% endblock %}

    <!-- Recogemos la sesión -->
    {% set misesion = app.session.get('usuario') %}
    {%  set session_class = '' %}
    {% if misesion is empty %}
        {%  set session_class = 'desactivado' %}
    {% else %}
        {%  set session_class = '' %}
    {% endif %}

</head>

<body>
<main>

    {% include ":index:block.popup.twig"  %}

    <!-- CABECERA: INCLUYE RRSS -->
    <header>
        <div class="wrapper">
            <div id="rrss">
                <div class="login">
                    {% if misesion is not empty %}
                        <a class="button-logout" href="/logout-usuario">LOG OUT</a>
                        <p class="negrita">Bienvenido {{app.session.get('usuario') | upper}}</p>
                    {% endif %}

                </div>
                <div class="rrss-icons">
                    <a href="#facebook">
                        <figure>
                            <img src="{{ asset('img/facebook-icon.png')}}" alt="facebook-icon.png" >
                        </figure>
                    </a>
                    <a href="#github">
                        <figure>
                            <img src="{{ asset('img/github-icon.png')}}" alt="github-icon.png" >
                        </figure>
                    </a>
                    <a href="https://es.linkedin.com/in/roberto-g%C3%B3mez-dom%C3%ADnguez-16602456">
                        <figure>
                            <img src="{{ asset('img/linkedin-icon.png')}}" alt="linkedin-icon.png" >
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- fin CABECERA -->

    <!-- MENÚ DE NAVEGACIÓN -->
    <nav id="menu-normal" role="navigation">
        <div class="wrapper">
            <div id="logo" class="col1-15">
                <a href="/inicio">
                    <figure>
                        <img src="{{ asset('img/logo.png')}}" alt="logo.png" >
                    </figure>
                </a>
            </div>
            <div id="menu" class="col1-85">
                <ul>
                    <li><a id="inicio" href="/inicio" class="">INICIO</a></li>
                    <li><a id="deportes" href="/deportes"  class="{{ session_class }}">DEPORTES</a></li>
                    <li><a id="casino" href="/casino"  class="{{ session_class }}">CASINO</a></li>
                    <li><a id="noticias" href="/noticias"  class="">NOTICIAS</a></li>
                    <li><a id="contacto" href="/#contacto" class="">CONTACTO</a></li>
                    {% if misesion is empty %}
                    <li><a id="login" class="loginpopup" href="javascript:void(0)" class="">LOGIN</a></li>
                    {% else %}
                    <li><a id="micuenta" href="/micuenta" id="micuenta" href="javascript:void(0)" class="">MI CUENTA</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <section class="main">
        {% block body %}{% endblock %}
    </section>

    <!-- FOOTER COMÚN -->
    <footer>
        <div class="wrapper">
            <p>Roberto Gómez Domínguez</p>
            <p>TIGERBET - Proyecto 2ºDAW</p>
            <p><a href="mailto:rgomezdominguez@gmail.com">rgomezdominguez@gmail.com</a></p>
        </div>
    </footer>
    <!-- fin FOOTER -->
</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{{ asset('js/headermenu.script.js') }}" type="application/javascript"></script>
<script src="{{ asset('js/menu.script.js') }}" type="application/javascript"></script>
<script src="{{ asset('js/vars.script.js') }}" type="application/javascript"></script>
<script src="{{ asset('js/popup.script.js') }}" type="application/javascript"></script>
<script src="{{ asset('js/user.script.js') }}" type="application/javascript"></script>
<script src="{{ asset('js/init.script.js') }}" type="application/javascript"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
